@import url("reset.css");
/* HEADER */
.header-container a{color: red;}
/* ------------------------------------ */

/* MAIN */
* {color: rgb(166, 166, 166);}
main span {color: rgb(235, 0, 200);}
h1, h2 {color: rgb(0, 182, 67);}
.content-first > .p-content {
color: blue;
}
.content-second .text ~ p {
    color: green;}
/* не працює не розумію чому?!!? */
    .div-section + p {
color: rgb(242, 255, 0);
    }

/* Чому не працює без уточнення: * або mark??? */
.paragraph-next *, 
.paragraph-back mark
{color: rgb(255, 1, 1);}
/* ---//--- */

ul .item {color: rgb(213, 224, 2);}
p ul .items {color: red;}
/* ----------------------------------------- */