
@import url("https://fonts.googleapis.com/css?family=Montserrat:regular,500,600&display=swap");
@import url("https://fonts.googleapis.com/css?family=Sofia+Sans+Extra+Condensed:700,800&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto:regular,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto:300&display=swap");
@import url("https://fonts.googleapis.com/css?family=Quicksand:500,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Fira+Sans+Condensed&display=swap");
@import url("https://fonts.googleapis.com/css?family=Fira+Sans+Condensed:300,regular&display=swap");
@import url("https://fonts.googleapis.com/css?family=Exo:regular,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Orbitron:500&display=swap");
@import url("fonts.css");
@import url("reset.css");

/* HEADER */

.h1 {
	font-family: "Roboto","Notserrat";
	font-size: 30px;
	font-weight: 700;
	text-transform: uppercase;
	text-shadow:
	9px 3px 7px rgb(0, 68, 93),
    -9px 3px 7px rgb(1, 54, 92),
    -9px -3px 7px rgb(1, 92, 103),
    9px -3px 7px rgb(1, 92, 103);
    color: rgb(255, 255, 255);
    padding: 10px 0 10px 30px;
	}

/* FOOTER */

footer, a#main {
    font-family: 'Lugatype','Roboto';
    font-weight: 500;
    font-size: 30px;
    line-height: 2;
    letter-spacing: 2px;
    word-spacing: 5px;
    text-align: center;
    text-shadow:
    9px 3px 7px rgb(191, 0, 255),
    -9px 3px 7px rgb(0, 29, 251),
    -9px -3px 7px rgb(0, 220, 244),
    9px -3px 7px #ff8000;
    color: yellow;
    text-transform: uppercase;
}

---------- Завдання №5-------------

.div-living {
	font-family: "Montserrat","Roboto";
background: #F8F8F8;
padding: 80px 0 80px 0;
margin-bottom: 80px;
}
.div-living .content {
max-width: 1070px;
margin: 0 auto;
}
.div-living h2.title-1 {
	font-size: 40px;
	font-weight: 600;
	line-height: 1.2;
    margin-bottom: 40px;
   text-align: center;
}
.content img.flat {
width: 100%;
margin: 0 0 40px 0;
border-radius: 8px;
}
.div-living .text {
    margin-bottom: 40px;
}
.text p.p {
	margin-bottom: 26px;
}
.text-1 .quote {
	font-size: 20px;
	font-weight: 600;
    margin: 0 0 30px 0;
    }
    .ul-living li {
    margin-bottom: 20px;
   }
   .ul-living li {
	display: inline-block;
	padding-left: 47px;
   background-image: url(../img/mark.svg);
   min-height: 30px;
 background-repeat: no-repeat;
   }

   /* <!-- Lesson - 6.1 --> */

   .box-left h2.h2-box {
    font-family: "Roboto","Montserrat";
    font-weight: 300;
    font-size: 74px;
    line-height: 0.74;
    margin-bottom: 52px;
   }
   .box-left p.p-box {
    font-family: "Roboto","Montserrat";
    font-weight: 400;
    font-size: 30px;
    line-height: 1.83;
    word-spacing: 9px;
    margin-bottom: 66px;
   }
   /* Кнопка */
   .button-show {
    font-family: "Roboto","Montserrat";
    color: white;
    font-weight: 400;
    font-size: 29px;
    padding: 19px 26px 19px 64px;
    background-color: rgba(30, 40, 50, 1);
    background-image: url(../img/icon-white.svg);
    background-repeat: no-repeat;
    background-position-x: 26px;
    background-position-y: center;
   }
/* __________________________________ */

.fon {
   background-image: url(../img/top-main.svg);
   background-repeat: no-repeat;
   background-size: cover;
   max-width: 1920px;
   margin: 0 auto;
   margin-bottom: 80px;
   text-transform: capitalize;
   }
    .center-content {
    font-size: 0;
    max-width: 1226px;
    padding-top: 225px;
    padding-bottom: 60px;
    margin: 0 auto;
    }
.box-left {
    max-width: 686px;
    display: inline-block;
    vertical-align: middle;
    padding: 50px 0 50px 0;
    margin-right: 98px;
    }
    .box-right {
        display: inline-block;
        max-width: 424px;
        width: 100%;
        height: 542px;
        vertical-align: top;
        border: 2px solid rgba(0, 0, 0, 0.25);
        border-radius: 160px 0 160px 0;
            }
    .box-right img.img-persona {
        max-width: 424px;
        width: 100%;
        height: 542px;
        border-radius: 160px 0 160px 0;
        margin: -20px 18px 20px -18px;
        }

 /* <!-- Lesson - 6.2 --> */

 .bg-explore {
font-family: "Quicksand","Montserrat";
color: white;
width: 100%;
background-image: url(../img/explore-bg.svg);
background-repeat: no-repeat;
background-size: cover;
}
.bg-explore h2 {
font-weight: 600;
font-size: 40px;
line-height: 1.2;
padding-bottom: 24px;
}
.wrapper-explore {
    width: 1500px;
    margin: 0 auto;
}
.container-explore {
	display: inline-block;
	font-size: 0;
	max-width: 600px;
	padding-top: 121px;
	margin-right: 133px;
	}
.container-explore .p-explore {
	font-weight: 500;
	font-size: 20px;
	line-height: 1.6;
	padding-bottom: 24px;
}
.button-explore {
    font-family: "Quicksand","Montserrat";
	color: rgba(13, 18, 22, 1);
	font-weight: 400;
	font-size: 29px;
	padding: 12px 20px;
	border-radius: 8px;
	background-color: white;
    margin-bottom: 24px;
}
	.img-kid {
	max-width: 547px;
	max-height: 530px;
}
/* Приховані блоки___________________________ */
.center-content {
    display: none;
}
.wrapper-explore {
    display: none;
}

/* <!-- Lesson - 7 --> */

.bg-lesson-7 {
    background-color: black;
    width: 100%;
    padding: 80px 0 80px 0;
}
.section-lesson-7 {
    max-width: 992px;
    height: max-content;
    margin: 0 auto;
}
.h2-lesson-7 {
    font-family: "Exo", sans-serif;
    font-weight: 700;
    font-size: 60px;
    line-height: 1.16;
    text-align: center;
    color: white;
    text-transform: uppercase;
    width: 100%;

   }
   .h2-lesson-7::after {
    content: "";
    display: block;
    height: 1px;
    max-width: 50%;
    background: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(66,255,0,1) 65%, rgba(36,0,255,1) 100%);
    margin-top: 20px;
    margin: 0 auto;
    margin-top: 20px;
   }
.p-lesson-7 {
    font-family: "Exo",sans-serif;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    color: white;
    text-transform: capitalize;
    line-height: 2.2;
    margin-top: 20px;
   }
   .wrap-ul-lesson-7 {
    max-width: 1150px;
    height: max-content;
    margin: 0 auto;
    margin-top: 60px;
      }
   .wrap-ul-lesson-7 ul:not(:first-child) {
    margin-top: 60px;
}
   .items-lesson-7 {
    margin: 0 auto;
    max-width: 100%;
    width: max-content;
    height: max-content;
          }
   .items-lesson-7 li {
    display: inline-block;
    font-family: "Orbitron", sans-serif;
    color: white;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.25;
    text-transform: capitalize;
    margin: 0 auto;
        }
  .items-lesson-7 li::after {
    content: "";
    width: 10px;
    height: 10px;
    background: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(66,255,0,1) 65%, rgba(36,0,255,1) 100%);
    border-radius: 50px;
    margin-left: 60px;
    vertical-align: middle;
}
.items-lesson-7 li:not(:last-of-type) {
    margin-right: 60px;
}
.items-lesson-7 li:not(:last-of-type) {
    margin-bottom: 20px;
}
.list-lesson-7 {
    width: max-content;
    max-width: 100%;
    margin: 0 auto;
}
.list-lesson-7 li {
    font-family: "Exo", sans-serif;
    font-size: 20px;
    font-weight: normal;
    color: white;
    text-transform: capitalize;
    display: inline-block;
       }
       .list-lesson-7 li:not(:last-of-type) {
        margin-right: 80px;
       }
       .list-lesson-7 li:not(:last-of-type) {
        margin-bottom: 20px;
       }
       .list-lesson-7 li:nth-child(1)::before {
       background: url(../img/call-icon.svg) no-repeat;
       vertical-align: top;
width: 20px;
height: 20px;
content: "";
margin-right: 20px;
       }
       .list-lesson-7 li:nth-child(2)::before {
        background: url(../img/location-icon.svg) no-repeat;
        vertical-align: top;
 width: 20px;
 height: 20px;
 content: "";
 margin-right: 20px;
        }
        .list-lesson-7 li:nth-child(3)::before {
            background: url(../img/email-icon.svg) no-repeat;
            vertical-align: top;
     width: 20px;
     height: 20px;
     content: "";
     margin-right: 20px;
        }

/* -------------- GAME ------------------  */
/* Не пойму чому до кінця не відкриваються по ховеру всі лінії!!! */
.section-game {
    font-family: "Orbition", sans-serif;
    width: 100%;
    height: max-content;
    background-color: #022c47;
    margin: 60px 0;
    padding: 60px;
}
.name-game {
    font-size: 30px;
    font-weight: 800;
    line-height: 1.3;
    text-transform: uppercase;
    color: rgb(1, 74, 101);
    background: linear-gradient(0deg, rgba(243,255,0,1) 0%, rgba(0,153,255,1) 100%);
    border-radius: 50px;
    width: max-content;
    margin: 0 auto;
    padding: 15px 20px;
    margin-bottom: 25px;
}
.info-game {
    color: white;
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: 1px;
    max-width: 800px;
    height: max-content;
    text-align: center;
    margin: 0 auto;
    padding: 16px;
    margin-bottom: 50px;
    border: 2px solid #F8F8F8;
    border-radius: 5px;
    }
    .button-start {
        display: block;
        color: rgb(6, 6, 6);
        font-size: 18px;
        font-weight: 700;
        letter-spacing: 1px;
        background: #009cfd;
        width: max-content;
        height: max-content;
        padding: 10px 15px;
        border-radius: 10px;
        margin: 0 auto;
        margin-bottom: 50px;
        outline: 4px double rgb(255, 234, 0);
        }
        .button-start:hover {
         background: #0084d5;
        }
        .main-game-target {
        display: none;
        }
        .main-game-target:target {
        display: block;
        }
        .border-fon {
        width: 1440px;
        height: 700px;
        border-radius: 20px;
        border: 10px solid rgb(246, 255, 0);
        margin: 0 auto;
    }
    .content-game {
        max-width:100%;
        height: 96%;
        border-radius: 20px;
        background-color: #ffffff;
        margin: 20px;
    }
    .start-game {
       font-size: 0px;
        width: 70px;
        height: 70px;
        background: green;
        font-weight: 700;
        vertical-align: middle;
        background-image: url(../img/start.svg);
        background-repeat: no-repeat;
        background-position: center;
        padding: 60px;
        margin: 0 0 0 20px;
       }
        .content-game [class*="line"] {
        display: inline-block;
        background-color: green;
        visibility: hidden;
        border: 2px solid black;
        
                    }
    .content-game .line1 {
        height: 50px;
        margin-left: -60px;
        margin-top: 40px;
         }
    .start-game:hover .line1{
        visibility: visible;
          }
    .content-game .line2 {
        margin-left: 250px;
        width: 150px;
        height: 50px;
        }
        .line1:hover .line2 {
    visibility: visible;
        }
    .content-game .line3 {
    width: 50px;
    height: 300px;
    margin-left: 100px;
    vertical-align: top;
        }
        .line2:hover .line3 {
            visibility: visible;
        }
    .content-game .line4 {
       vertical-align: bottom;
       height: 50px;
       margin-left: -180px;
       margin-bottom: -150px;
         }
    .line3:hover .line4 {
    visibility: visible;
    }
    .line3:hover .line8 {
        visibility: visible;
        }
    .content-game .line5 {
        vertical-align: bottom;
        margin-left: 280px;
        margin-bottom: 70px;
        width: 150px;
        height: 50px;
                }
         .line4:hover .line5 {
            visibility: visible;
         }
         .line4:hover .line6 {
            visibility: visible;
         }
         .line4:hover .line8 {
            visibility: visible;
        }
        .content-game .line6 {
        width: 50px;
        height: 300px;
        vertical-align: top;
        margin-left: -230px;
        margin-bottom: -70px;
               }
        .line5:hover .line7 {
                visibility: visible;
               }
         .content-game .line7 {
       margin-left: 330px;
       width: 100px;
       height: 50px;
             }
        .content-game .line8 {
            height: 50px;
            width: 300px;
        margin-top: 140px;
       margin-left: -260px;
         }
    .content-game .line9 {
        margin-left: 350px;
        margin-top: -120px;
        vertical-align: top;
        width: 200px;
        height: 50px;
           }
           .line7:hover .line9 {
            visibility: visible;
           }
    .content-game .line10 {
     width: 50px;
     height: 300px;
     margin-left: 150px;
     margin-top: 10px;
     vertical-align: top;
      }
      .line9:hover.line10 {
        visibility: visible;
      }
    .content-game .line11 {
    width: 300px;
    height: 50px;
    vertical-align: bottom;
    margin-left: -50px;
    margin-top: 200px;
       }
       .line10:hover .line11 {
        visibility: visible;
              }
       .line11:hover .kreml {
        visibility: visible;
       }
    .content-game .kreml {
    display: block;
    width: 150px;
    height: 150px;
    background: url(../img/kreml.jpg) 50% 50% / cover no-repeat;
    border-radius: 50px;
    margin-left: 1000px;
    visibility: hidden;
               }
.content-game .kreml:hover {
background: url(../img/kreml-gorit.jpg) 50% 50% / cover no-repeat;
box-shadow:
0px 0px 11.6px rgb(255, 118, 6),
0px 0px 26.9px rgb(255, 0, 0),
0px 0px 48.4px rgb(217, 0, 0),
0px 0px 80.3px rgb(255, 128, 0),
0px 0px 132.3px rgb(250, 0, 0),
0px 0px 231.2px rgb(255, 213, 0),
0px 0px 500px rgb(255, 0, 0);
}
.content-game .pvo1 {
background: url(../img/pvo.jpg) 0 0 / contain no-repeat;
width: 200px;
height: 200px;
            }
            .pvo2 {
background: url(../img/pvo.jpg) 0 0 / contain no-repeat;
width: 200px;
height: 200px;
margin-left: 450px;
margin-top: 100px;
            }
            .pvo3 {
background: url(../img/pvo.jpg) 0 0 / contain no-repeat;
width: 200px;
height: 200px;
margin-left: 600px;
margin-top: -540px;
            }
            .pvo4 {
background: url(../img/pvo.jpg) 0 0 / contain no-repeat;
width: 200px;
height: 200px;
margin-left: 950px;
margin-top: -70px;
            }


/* -----------test------------------ */


.body-test {
    font-family: "Fira+Sans+Condensed";
   }
   /* HEADER TEST */

.header-test {
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 2px;
    width: 100%;
    height: 80px;
    background-color: #ffffff;
 }
.wrapper-content-header-test {
    width: 1279px;
    height: 100%;
    margin: 0 auto;
}
.brand-test {
    display: inline-block;
    font-size: 0;
    vertical-align: middle;
    background-image: url(../img_test/logo_md_fashion.svg);
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 15%;
    height: 100%;

}
.container-link-test {
    display: inline-block;
    vertical-align: middle;
    text-align: right;
    width: 84%;
    height: max-content;
}
.link-header-test {
       padding: 10px 10px;
       }
.link-header-test:hover {
color: red;
box-shadow:
  0px 2px 0px rgb(255, 0, 0);
}
.link-header-test:active {
        background-color: #000000;
        color: white;
        border-bottom: none;
       }
       .link-header-test:focus {
        outline: 2px solid red;
        box-shadow:
        0px 4.8px 3.4px -6px rgba(0, 0, 0, 0.185),
        0px 38px 27px -6px rgba(0, 0, 0, 0.37)
      ;
       }
/* TEST */
/* --------------HOME PAGE---------------- */

.content-home-test {
    text-align: right;
    font-size: 0;
    background-color: #FAF9F7;
    padding: 60px 60px;
    width: 1279px;
    height: max-content;
    margin: 0 auto;
   }
.wrapper-left-block-test {
font-size: 0;
display: inline-block;
vertical-align: middle;
height: 100%;
width: 60%;
min-width: 500px;
}
.block-left-test {
    text-align: left;
    font-size: 0;
    width: 100%;
    height: 100%;
    display: inline-block;
    padding-right: 60px;
  }
.title-test {
    font-size: 49px;
    font-weight: 300;
    margin-bottom: 55px;
}
[class*="btn"] {
    font-size: 19px;
    text-align: center;
    color: white;
    font-weight: 300;
    line-height: 1;
    padding: 20px 30px;
    min-width: 145px;
    margin-right: 20px;
    margin-bottom: 55px;
    background-color: black;
}
[class*="btn"]:hover {
    background-color: #434343;
    border-radius: 10px;
    }
    [class*="btn"]:active {
        background-color: rgb(255, 255, 255);
        color: black;
              box-shadow:
        9px 0px 55px -10px rgba(0, 0, 0, 0.24);
    }
.image-home-page {
    text-align: right;
    vertical-align: middle;
    max-width: 40%;
    border-radius: 5px;
}

/* _____SECTION BRAND TEST____ */

.section-brand-test {
    width: 1279px;
    margin: 0 auto;
    padding: 60px 0 60px 0;

}
.subtitle-test {
    font-size: 33px;
    font-weight: 300;
    margin-bottom: 55px;
}
.block-brand-test {
    font-size: 0;
    margin-bottom: 50px;
}
.brand-box1 {
display: inline-block;
font-size: 0;
background-image: url(../img_test/celvin.svg);
background-position: center center;
background-size: cover;
background-repeat: no-repeat;
width: 23%;
height: 115px;
margin-right: 1%;
margin-bottom: 20px;
}
.brand-box2 {
    display: inline-block;
    font-size: 0;
    background-image: url(../img_test/disel.svg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 23%;
    height: 115px;
    margin-right: 1%;
    margin-bottom: 20px;
    }
    .brand-box3 {
        display: inline-block;
        font-size: 0;
        background-image: url(../img_test/gant.svg);
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 23%;
        height: 115px;
        margin-right: 1%;
        margin-bottom: 20px;
        }
    .brand-box4 {
            display: inline-block;
            font-size: 0;
            background-image: url(../img_test/gstar.svg);
            background-position: center center;
            background-size: cover;
            background-repeat: no-repeat;
            width: 23%;
            height: 115px;
            margin-right: 1%;
            margin-bottom: 20px;
            }
    .brand-box5 {
                display: inline-block;
                font-size: 0;
                background-image: url(../img_test/levis.svg);
                background-position: center center;
                background-size: cover;
                background-repeat: no-repeat;
                width: 23%;
                height: 115px;
                margin-right: 1%;
                margin-bottom: 20px;
                }
                .brand-box6 {
                    display: inline-block;
                    font-size: 0;
                    background-image: url(../img_test/pp.svg);
                    background-position: center center;
                    background-size: cover;
                    background-repeat: no-repeat;
                    width: 23%;
                    height: 115px;
                    margin-right: 1%;
                    margin-bottom: 20px;
                    }
                    .brand-box7 {
                        display: inline-block;
                        font-size: 0;
                        background-image: url(../img_test/puma.svg);
                        background-position: center center;
                        background-size: cover;
                        background-repeat: no-repeat;
                        width: 23%;
                        height: 115px;
                        margin-right: 1%;
                        margin-bottom: 20px;
                        }
                        .brand-box8 {
                            display: inline-block;
                            font-size: 0;
                            background-image: url(../img_test/replay.svg);
                            background-position: center center;
                            background-size: cover;
                            background-repeat: no-repeat;
                            width: 23%;
                            height: 115px;
                            margin-right: 1%;
                            margin-bottom: 20px;
                            }
                            .brand-box9 {
                                display: inline-block;
                                font-size: 0;
                                background-image: url(../img_test/tomy.svg);
                                background-position: center center;
                                background-size: cover;
                                background-repeat: no-repeat;
                                width: 23%;
                                height: 115px;
                                margin-right: 1%;
                                margin-bottom: 20px;
                                }
                                .brand-box10 {
                                    display: inline-block;
                                    font-size: 0;
                                    background-image: url(../img_test/ua.svg);
                                    background-position: center center;
                                    background-size: cover;
                                    background-repeat: no-repeat;
                                    width: 23%;
                                    height: 115px;
                                    margin-right: 1%;
                                    margin-bottom: 20px;
                                    }
[class*="brand-box"]:hover {
    background-size: 120%;
}
[class*="brand-box"]:nth-child(n+9) {
    margin-bottom: 0;
}
.btn-all-brand {
    display: block;
    margin: 0 auto;
    width: 200px;
    background-image: url(../img_test/arrow-white.svg);
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: 150px center;
    font-size: 19px;
    text-align: center;
    color: white;
    font-weight: 300;
    line-height: 1;
    padding: 20px 74px 20px 30px;
    min-width: 145px;
    background-color: black;
}
[class*="btn-all"]:hover {
    background-color: #434343;
    border-radius: 10px;
    }
    [class*="btn-all"]:active {
        background-color: rgb(255, 255, 255);
        color: black;
        box-shadow:
        9px 0px 55px -10px rgba(0, 0, 0, 0.24);
    }
    [class*="btn-all"]:focus {
        background: white;
        color: black;
        border: 2px solid black;
        background-image: url(../img_test/arrow-black.svg);
        background-repeat: no-repeat;
        background-size: 20px;
        background-position: 150px center;
    }

    /* -------------------and test----------- */