@import url("https://fonts.googleapis.com/css?family=Abel:regular&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat:regular,500,600,700,800&display=swap");
@import url("https://fonts.googleapis.com/css?family=Exo:regular,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Orbitron:500&display=swap");
@import url("fonts.css");
@import url("reset.css");
.body {
    max-width: 1290px;
    margin: 0 auto;
    margin: 0 15px 0 15px;
    font-family: "Abel";
    font-size: 16px;
    font-weight: "regular";
    line-height: 100%;
}
.wrapper {
    overflow: clip;
    min-height: 100%;
    
    }
.header {
    position: relative;
    z-index: 10;
   }
.h1-title {
    background-color: rgb(63, 63, 63);
    color: white;
    font-size: 24px;
    text-align: center;
    padding: 20px 0;
    margin-bottom: 20px;
    }
/* .row-top {
}
.nav-items {
}
.nav-items__item {
}
.nav-items__link {
}
.section-support {
}
.section-support__description {
}
.section-support__items {
}
.items {
}
.items__messenger-item {
}
.items__messenger-link {
}
.items__icon-messenger {
}
.block-language {
}
.block-language__link-lang {
}
.block-language__items {
}
.items__language-item {
}
.icon-arrow {
} */
.row-center > div {
    display: inline-block;
           }
    .row-center {
        position: relative;
        min-width: 1290px;
        font-size: 0;
        margin-bottom: 30px;
        }
.logo {
    width: 250px;
    height: 50px;
    overflow: hidden;
    margin-right: 33px;
    vertical-align: middle;
}
.logo__image {
    max-width: 100%;
} 
.menu-box:hover .catalog-menu {
        display: block; 
    }
.button-menu {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: max-content;
    padding: 11px 20px;
    background: #FFBC57;
    border-radius: 8px;
    }
    .button-menu:hover {
    background: linear-gradient(90deg, rgba(255,188,87,1) 0%, rgba(222,133,0,1) 100%);
    }
   
.button-menu::before {
content: "";
background: url(../img/catalog-icon.svg) 0 0 no-repeat;
width: 24px;
height: 24px;
display: inline-block;
vertical-align: middle;
margin-right: 10px;
}
.button-menu__text {
    font-size: 19px;
    line-height: 1.26;
    letter-spacing: 1px;
    color: white;
    display: inline-block;
    vertical-align: middle;
}
.catalog-menu {
   position: absolute;
   top: 100%;
   left: 10%;
   display: none;
   }
.items-catalog__product-item-2:hover .catalog-menu__submenu {
    display: inline-block;
}
.catalog-menu__items-catalog {
}
.items-catalog {
    position: relative;
    display: inline-block;
    padding-top: 8px;   
    padding-bottom: 8px;
    border-right: 5px solid #FFBC57;
}
.items-catalog__product-item-2 {
   }
.items-catalog__catalog-link {
padding: 10px 15px 10px 30px;
}
.items-catalog__catalog-link:hover {
    background: #FFBC57;
    }
.items-catalog__icon {
width: 40px;
height: 40px;
vertical-align: middle;
margin-right: 15px;
}
.items-catalog__row-svg {
width: 24px;
height: 24px;
display: inline-block;
vertical-align: middle;
rotate: -90deg;
    
  }
  .items-catalog__catalog-link:hover .items-catalog__row-svg path {
fill: #2B2929;
  }
.items-catalog__content {
    font-size: 20px;
    color: #2B2929;
    min-width: 161px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 15px;
}
/* submenu------------------------ */
.catalog-menu__submenu {
    position: absolute;
    left: 100%;
    top: 0%;
    display: none;
}
.submenu {
}
.submenu__list {
}
.submenu__link-submenu {
min-width: 300px;
padding: 10px 0;
}
.submenu__link-submenu:hover .submenu__text {
text-decoration: underline;
}
.submenu__link-submenu {
display: inline-block;
}
.submenu__text {
font-size: 19px;
line-height: 40px;
color: #2B2929;
display: inline-block;
vertical-align: middle;
margin-left: 15px;
}
/* _______________________________________- */
.input-search {
 }
.input-search__hint-text {
}
.input-search__search-link {
}
.input-search__icon-search {
}
.block-connection {
}
.block-connection__link-connection {
}
.icon-tel {
}
.block-connection__box-connection {
}
.box-connection {
}
.box-connection__text {
}
.box-connection__text--font-weight {
}
.box-connection__text--font-size {
}
.block-connection__arrow-link {
}
.add-product {
}
.add-product__add-link {
}
.add-product__icon {
}
.row-bottom {
}
/* .row-bottom__items {
}
.row-bottom__list {
}
.link-ofer {
}
.icon {
}
.nav-items__link--text {
} */
.page {
}
.section-content {
}
.section-content__h2-title {
}
.grid-product {
}
.grid-product__popular {
}
.popular {
}
.popular__card-link {
}
.popular__category-name {
}
.popular__category-quantity {
}
.popular__image-popular {
}
.popular__arrow-product-icon {
}
.grid-product__most-popular {
}
.most-popular {
}
.most-popular__card-link {
}
.most-popular__image-popular {
}
.most-popular__size-product {
}
.most-popular__category-name {
}
.box-check {
}
.box-check__icon {
}
.box-check__text {
}
.most-popular__row-price {
}
.row-price {
}
.row-price__box {
}
.row-price__old-price {
}
.row-price__price {
}
.footer {
}