
@import url("https://fonts.googleapis.com/css?family=Montserrat:regular,500,600,700,800&display=swap");
@import url("https://fonts.googleapis.com/css?family=Exo:regular,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Orbitron:500&display=swap");
@import url("fonts.css");
@import url("reset.css");

/* HEADER */
body {
    background-color:  rgb(0, 66, 78);
    color: white;
    font-family: "Montserrat";
}
.header {
    width: 100%;
    height: max-content;
    box-shadow:
  0px 11px 21px rgba(255, 255, 255, 0.25);
  margin-bottom: 40px;
}
.h1-title {
    font-size: 30px;
	font-weight: 800;
    line-height: 1.33;
    width: max-content;
    margin: 0 auto;
    padding-block: 20px;
   }

   /* main-page */
   .page {
    font-size: 20px;
    width: 100%;
    padding: 0 20px 0 20px;
}
img {
    display: inline-block;
    max-width: 300px;
    margin-right: 20px;
    vertical-align: middle;
    }
    ul {
        border-bottom: 2px solid white;
        padding-bottom: 20px;
        margin-bottom: 40px;
    }
li:not(:last-child) {
margin-bottom: 20px;
}
li.icon::before {
    content: "";
    background: url(../img/icon.svg) center no-repeat;
    width: 100px;
    height: 100px;
    margin-right: 20px;
    vertical-align: middle;
   }
span {
    display: inline-block;
    vertical-align: middle;
    max-width: 50%;
 }

/* FOOTER */
footer {
    font-size: 25px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    height: max-content;
    padding-block: 20px;
  }
/* ---------- Завдання №8------------- */